extends layout


block Contenido
    section.Seccion.SeccionNosotros
        .Contenedor.ContenedorSobreNosotros
            .ImagenesNosotros.Back
                img.Img1(src='/img/Tartas/LemonPie/LemonPie2.jpg' alt='Lemon Pie')
                img.Img2(src='/img/Tartas/TartaDeFrutilla/TartaDeFrutilla3.jpg' alt='Tarta de Frutilla')
            .SobreNosotros
                h2.BordeIndex.Animacion Sobre Nosotros
                p Aqui en HecemiTodoDulce vas a Conocer los Placeres Inimaginables al Probar cualquiera de Nuestrar Tartas.Prueba La tarta de frutilla, Si quieres revivir aquel Verano que no olvidas o Prueba la Tarta Toffi En esos dias donde Pinta el Bajon!!
                p Donde Sea que estes es un Buen Momento para probar Nuestras Tartas
                
   
    section.Seccion.Tartas
        h2 Algunas De Nuestras Tartas Dulces
        .ContenedorTartas
            .Contenedor.ContenedorProductos
                if(productos.length)
                    each Producto in productos
                        .Producto
                            .ImagenOjo 
                                img(src=`/img/Tartas/${Producto.Imagen}/${Producto.Imagen}.jpg` alt=`${Producto.Imagen}`)
                                a(class="Invisible OjoProducto" href=`/Tienda/${Producto.Imagen}`)
                                    i(class="fa fa-eye")     
                            h3= Producto.Titulo
                            p= Producto.Descripcion
            .Campo.left 
                a(href="/Tienda")
                    button.Boton
                        span Ver mas Productos
        
        // Fin de Productos
    
    


    section.Seccion.Galeria
        h2 Galeria
        .fullImg.Invisible
            img(src="/img/Tartas/LemonPie/LemonPie.jpg", alt="" class="ImagenGrande")
            i.fa.fa-circle-xmark.CerrarGaleria
            
        .Contenedor.ContenedorImagenes 
            img(src="/img/Tartas/LemonPie/LemonPie.jpg", alt="Lemon Pie" class="ImagenGal")
            img(src="/img/Tartas/TartaDeFrutilla/TartaDeFrutilla.jpg", alt="Tarta de Frutilla" class="ImagenGal")
            img(src="/img/Tartas/TartaMerengue/TartaMerengue.jpg", alt="Tarta Merengue" class="ImagenGal")
            img(src="/img/Tortas/Torta dulce y chocolate DULCE.jpg", alt="Torta Dulce y chocolate" class="ImagenGal")
            img(src="/img/Tartas/TartaToffi/TartaToffi.jpg", alt="Tarta Toffi" class="ImagenGal")
            img(src="/img/Tortas/Camiseta-de-argenitna-torta.jpg", alt="Torta Argentina" class="ImagenGal")




    section.Seccion.ContenedorPantalla.parallax
        .BackgroundPantalla
                .Contenedor.ContenedorTexto
                    h2 Deleita Tu Paladar con las Mejoras Tartas De Todo Villa Rosa




    section.Seccion.Info
        h2 Informacion Importante
        .Contenedor.ContInfoTortas
            .InformacionDiv
                .Borde
                    p Envios a Todo Villa Rosa.
                        i.fas.fa-truck
            .InformacionDiv
                .Borde
                    p Productos de Gran Calidad. 
                        i.fas.fa-star   
            .InformacionDiv
                .Borde
                    p Aceptamos Pagos Por MercadoPago. 
                        i.fas.fa-handshake 

                